In [4]:
import os
import pandas as pd

In [2]:
#https://insee.fr/fr/statistiques/3560121

In [6]:
# déclaration des constantes 
DATA_DIR = '../data/external/'
PROCESSED_DIR = '../data/processed/'

CITIES_FILENAME = 'base-cc-filosofi-2015.xls'

In [7]:
    filo_df= pd.read_excel(os.path.join(DATA_DIR, CITIES_FILENAME),skiprows=5) #pour enlever les libellés inutiles de l'INSEE

In [8]:
filo_df.NBPERSMENFISC15.isnull().sum()

3596

In [9]:
filo_df.shape

(35848, 29)

In [11]:
filo_df.head()

,CODGEO,LIBGEO,NBMENFISC15,NBPERSMENFISC15,MED15,PIMP15,TP6015,TP60AGE115,TP60AGE215,TP60AGE315,...,PPEN15,PPAT15,PPSOC15,PPFAM15,PPMINI15,PPLOGT15,PIMPOT15,D115,D915,RD15
0,01001,L'Abergement-Clémenciat,308.0,801.0,22228.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,100.0,245.5,22883.333333,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6216.0,13917.0,19735.200000,53.312962,17.227132,19.058154,20.856552,22.513401,...,26.9,9.5,6.7,2.7,2.0,2.0,-15.8,10398.571429,33801.2,3.250562
3,01005,Ambérieux-en-Dombes,624.0,1671.5,23182.666667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01006,Ambléon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
filo_df.loc[filo_df['CODGEO'] == '69390']

Empty DataFrame
Columns: [CODGEO, LIBGEO, NBMENFISC15, NBPERSMENFISC15, MED15, PIMP15, TP6015, TP60AGE115, TP60AGE215, TP60AGE315, TP60AGE415, TP60AGE515, TP60AGE615, TP60TOL115, TP60TOL215, PACT15, PTSA15, PCHO15, PBEN15, PPEN15, PPAT15, PPSOC15, PPFAM15, PPMINI15, PPLOGT15, PIMPOT15, D115, D915, RD15]
Index: []

[0 rows x 29 columns]